*{
    background-color: var(--body_background);
    color: var(--body_color);
}
link{
    color: var(--link_color);
}
a,h1,h2,h3{
    color: var(--a_color);
}
span{
   background-color: var(--span_color);
}